In [282]:
# Tratamiento de datos
# ==============================================================================
import numpy as np
import pandas as pd

import re

# Content
### Data:-

**Poster_Link** - Link of the poster that imdb using

**Series_Title** = Name of the movie

**Released_Year** - Year at which that movie released

**Certificate** - Certificate earned by that movie

**Runtime** - Total runtime of the movie

**Genre** - Genre of the movie

**IMDB_Rating** - Rating of the movie at IMDB site

**Overview** - mini story/ summary

**Meta_score** - Score earned by the movie

**Director** - Name of the Director

**Star1,Star2,Star3,Star4** - Name of the Stars

**Noofvotes** - Total number of votes

**Gross** - Money earned by that movie


# Inspiration

Analysis of the gross of a movie vs directors.

Analysis of the gross of a movie vs different - different stars.

Analysis of the Noofvotes of a movie vs directors.

Analysis of the Noofvotes of a movie vs different - different stars.

Which actor prefer which Genre more?

Which combination of actors are getting good IMDB_Rating maximum time?

Which combination of actors are getting good gross?

In [283]:
df_imbd = pd.read_csv("./imdb_top_1000.csv")
df_imbd.head(1)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"

In [284]:
df_imbd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [285]:
df_imbd["Director"].unique().size
#hay 548 directores

548

In [286]:
# Renombramos
df_imbd.rename(columns= {"No_of_Votes":"User_Ratings", "Star1":"Protagonist_1","Star2":"Protagonist_2", "Star3":"Supporting_actor_1","Star4":"Supporting_actor_2"},inplace=True)

In [287]:
df_imbd.head(1)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Protagonist_1,Protagonist_2,Supporting_actor_1,Supporting_actor_2,User_Ratings,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"

In [288]:
df_imbd['IMDB_Rating'] =df_imbd['IMDB_Rating'].apply(lambda x: x*10) #Para multiplicar x 10 cada valor de la columna

In [289]:
df_imbd.head(1)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Protagonist_1,Protagonist_2,Supporting_actor_1,Supporting_actor_2,User_Ratings,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,93.0,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"

In [290]:
patron= r"[0-9]{2,3}" #encuentra un numero y quedate con el , puedes encontrar 2 o 3 numeros.

def minutos(col):
   return re.findall(patron, col)

In [292]:
df_imbd["Runtime"]= df_imbd["Runtime"].apply(minutos).str[0] #str[0] te elimina los corchetes

In [297]:
df_imbd.head(1)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Protagonist_1,Protagonist_2,Supporting_actor_1,Supporting_actor_2,User_Ratings,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142,Drama,93.0,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"

In [ ]:
df_imbd["Genre"].cut