In [1]:
# Tratamiento de datos
# ==============================================================================
import numpy as np
import pandas as pd

import re

import sidetable
import math

# Content
### Data:-

**Poster_Link** - Link of the poster that imdb using

**Series_Title** = Name of the movie

**Released_Year** - Year at which that movie released

**Certificate** - Certificate earned by that movie

**Runtime** - Total runtime of the movie

**Genre** - Genre of the movie

**IMDB_Rating** - Rating of the movie at IMDB site

**Overview** - mini story/ summary

**Meta_score** - Score earned by the movie

**Director** - Name of the Director

**Star1,Star2,Star3,Star4** - Name of the Stars

**Noofvotes** - Total number of votes

**Gross** - Money earned by that movie


# Inspiration

Analysis of the gross of a movie vs directors.

Analysis of the gross of a movie vs different - different stars.

Analysis of the Noofvotes of a movie vs directors.

Analysis of the Noofvotes of a movie vs different - different stars.

Which actor prefer which Genre more?

Which combination of actors are getting good IMDB_Rating maximum time?

Which combination of actors are getting good gross?

In [4]:
df_imbd = pd.read_csv("./imdb_top_1000.csv")
df_imbd.head(1)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"

In [5]:
df_imbd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [6]:
df_imbd["Director"].unique().size
#hay 548 directores

548

In [8]:
# Renombramos
df_imbd.rename(columns= {"No_of_Votes":"User_Ratings", "Star1":"Protagonist_1","Star2":"Protagonist_2", "Star3":"Supporting_actor_1","Star4":"Supporting_actor_2"},inplace=True)

In [9]:
df_imbd.head(1)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Protagonist_1,Protagonist_2,Supporting_actor_1,Supporting_actor_2,User_Ratings,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"

In [10]:
df_imbd['IMDB_Rating'] =df_imbd['IMDB_Rating'].apply(lambda x: x*10) #Para multiplicar x 10 cada valor de la columna

In [11]:
df_imbd.head(1)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Protagonist_1,Protagonist_2,Supporting_actor_1,Supporting_actor_2,User_Ratings,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,93.0,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"

In [12]:
patron= r"[0-9]{2,3}" #encuentra un numero y quedate con el , puedes encontrar 2 o 3 numeros.

def minutos(col):
   return re.findall(patron, col)

In [14]:
df_imbd["Runtime"]= df_imbd["Runtime"].apply(minutos).str[0] #str[0] te elimina los corchetes

In [15]:
df_imbd.head(1)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Protagonist_1,Protagonist_2,Supporting_actor_1,Supporting_actor_2,User_Ratings,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142,Drama,93.0,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"

In [16]:

df_imbd=df_imbd.reindex(columns=[ 'Series_Title', 'Released_Year','Certificate', 'Runtime', 'Genre',
                                'IMDB_Rating', 'Meta_score', 'Director', 'Protagonist_1', 'Protagonist_2', 
                                'Supporting_actor_1', 'Supporting_actor_2', 'User_Ratings', 'Gross','Overview','Poster_Link'])

In [18]:
df_imbd.head(2)

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Protagonist_1,Protagonist_2,Supporting_actor_1,Supporting_actor_2,User_Ratings,Gross,Overview,Poster_Link
0,The Shawshank Redemption,1994,A,142,Drama,93.0,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469",Two imprisoned men bond over a number of years...,https://m.media-amazon.com/images/M/MV5BMDFkYT...
1,The Godfather,1972,A,175,"Crime, Drama",92.0,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411",An organized crime dynasty's aging patriarch t...,https://m.media-amazon.com/images/M/MV5BM2MyNj...

    Ahora quiero pasar IMDB_Rating y Meta_score a INTEGER

In [19]:
df_imbd.IMDB_Rating= df_imbd.IMDB_Rating.astype(int)

In [15]:
# No me deja con esta por que tiene NAN , hay que eliminarlos
#df_imbd.Meta_score.astype(int)

In [20]:
df_imbd.isnull().sum() # no son muchos los elimino

Series_Title            0
Released_Year           0
Certificate           101
Runtime                 0
Genre                   0
IMDB_Rating             0
Meta_score            157
Director                0
Protagonist_1           0
Protagonist_2           0
Supporting_actor_1      0
Supporting_actor_2      0
User_Ratings            0
Gross                 169
Overview                0
Poster_Link             0
dtype: int64

In [21]:
df_imbd = df_imbd.dropna(subset=["Certificate","Meta_score", "Gross" ])

In [22]:
df_imbd.isnull().sum()

Series_Title          0
Released_Year         0
Certificate           0
Runtime               0
Genre                 0
IMDB_Rating           0
Meta_score            0
Director              0
Protagonist_1         0
Protagonist_2         0
Supporting_actor_1    0
Supporting_actor_2    0
User_Ratings          0
Gross                 0
Overview              0
Poster_Link           0
dtype: int64

In [23]:
df_imbd.Meta_score= df_imbd.Meta_score.astype(int) # ya son ambas int y para tableau no me aparecerán con .0 decimales

In [25]:
df_imbd.dtypes

Series_Title          object
Released_Year         object
Certificate           object
Runtime               object
Genre                 object
IMDB_Rating            int64
Meta_score             int64
Director              object
Protagonist_1         object
Protagonist_2         object
Supporting_actor_1    object
Supporting_actor_2    object
User_Ratings           int64
Gross                 object
Overview              object
Poster_Link           object
dtype: object

# Columna Genre

In [ ]:
df_imbd["Genre"].unique()

In [47]:
df_imbd["Genre"]

0                             Drama
1                      Crime, Drama
2              Action, Crime, Drama
3                      Crime, Drama
4                      Crime, Drama
                   ...
990             Drama, War, Western
991          Adventure, Comedy, War
992    Animation, Adventure, Family
994          Comedy, Music, Musical
997             Drama, Romance, War
Name: Genre, Length: 714, dtype: object

In [51]:
df_imbd[["Genre_1","Genre_2","Genre_3"]] = df_imbd["Genre"].str.split(pat=",", n=-1, expand=True)

In [ ]:
df_imbd.head(2)

In [54]:
df_imbd=df_imbd.reindex(columns=[ 'Series_Title', 'Released_Year','Certificate', 'Runtime', 'Genre',
                                'IMDB_Rating', 'Meta_score', 'Director', 'Protagonist_1', 'Protagonist_2', 
                                'Supporting_actor_1', 'Supporting_actor_2', 'User_Ratings', 'Gross','Overview','Genre_1','Genre_2','Genre_3','Poster_Link'])

In [55]:
df_imbd.head(2)

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Protagonist_1,Protagonist_2,Supporting_actor_1,Supporting_actor_2,User_Ratings,Gross,Overview,Genre_1,Genre_2,Genre_3,Poster_Link
0,The Shawshank Redemption,1994,A,142,Drama,93,80,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469",Two imprisoned men bond over a number of years...,Drama,None,None,https://m.media-amazon.com/images/M/MV5BMDFkYT...
1,The Godfather,1972,A,175,"Crime, Drama",92,100,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411",An organized crime dynasty's aging patriarch t...,Crime,Drama,None,https://m.media-amazon.com/images/M/MV5BM2MyNj...

In [56]:
df_imbd.to_csv("Tableau_limpio.csv")

In [57]:
df_imbd["Genre"]

0                             Drama
1                      Crime, Drama
2              Action, Crime, Drama
3                      Crime, Drama
4                      Crime, Drama
                   ...
990             Drama, War, Western
991          Adventure, Comedy, War
992    Animation, Adventure, Family
994          Comedy, Music, Musical
997             Drama, Romance, War
Name: Genre, Length: 714, dtype: object

In [59]:
df_imbd["Genre"][0]

'Drama'

In [76]:
df_imbd["Genre"].str.split(pat=",", n=-1, expand=True)

             0           1         2
0        Drama        None      None
1        Crime       Drama      None
2       Action       Crime     Drama
3        Crime       Drama      None
4        Crime       Drama      None
..         ...         ...       ...
990      Drama         War   Western
991  Adventure      Comedy       War
992  Animation   Adventure    Family
994     Comedy       Music   Musical
997      Drama     Romance       War

[714 rows x 3 columns]

In [ ]:
df_imbd["Genre"].str.split(pat=",", n=-1, expand=True)[3]

In [ ]:
list_genre = list(df_imbd["Genre"].str.split(pat=",", n=-1, expand=True)[3])

In [ ]:
list_genre

In [140]:
df_imbd["Genre"][0]

'Drama'

In [141]:
set_uniques = set()
list_genre_set = []
for i in df_imbd["Genre"]:
    try:
        list_genre_set = set_uniques.add(i)
    # print(i)
    except:
        list_genre_set = set_uniques.add(np.nan)
    #     if i not in list_genre:
    #         list_genre = list_genre.append(i)
    #         print(list_genre)
    #     else:
    #         pass
    # except:
    #     list_genre = list_genre.append(np.nan)
    # list_genre_set.str.split(pat=",", n=-1, expand=True)
    # for x in list_genre:
    #     list_uniques.append(x)

In [147]:
type(list_genre_set)

NoneType

In [ ]:
# set_uniques = set()
# list_genre_set = []
# for i in df_imbd["Genre"]:
#     try:
#         list_genre_set = set_uniques.add(i)
#     # print(i)
#     except:
#         list_genre_set = set_uniques.add(np.nan)
    #     if i not in list_genre:
    #         list_genre = list_genre.append(i)
    #         print(list_genre)
    #     else:
    #         pass
    # except:
    #     list_genre = list_genre.append(np.nan)
    # list_genre_set.str.split(pat=",", n=-1, expand=True)
    # for x in list_genre:
    #     list_uniques.append(x)

In [ ]:
for x in df_imbd["Genre"]:
    print(x)
    list_uniques.append(x)

In [115]:
list_2 = df_imbd["Genre"].str.split(pat=",")

In [131]:
list_2[5]

['Action', ' Adventure', ' Drama']

In [134]:
list_nueva = set(list_2[5]).append()

AttributeError: 'set' object has no attribute 'append'